@import '~bootstrap/scss/bootstrap';

:root {
    --background-color:#050d16;
    --border-color:#2c2e31;
    --sidebar-items: #016483;
    --sidebar-items-border: #02cff6;
    --sidebar-text-items: #9ca3af;
    --card-background-color: #1A1F2E;
    --card-header-background: #252B3D;
    --button-background-color: #00c6fc;
}

/* GENERAL RULES */
body {
    background-color: var(--background-color);
}

.global-container {
    display: flex;
    height: 100vh;
}

/* Side Navbar */
.side-navbar {
    background-color: var(--background-color);
    width: 280px;
    height: 100vh;
    border-right: 2px solid var(--border-color);
    position: fixed;
}

.hr-color {
    color: var(--border-color);
    border-top: 2px solid;
    opacity: 1;
}

.side-navbar a {
    text-decoration: none;
}

.logo_next_episode {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.logo_next_episode > img {
    width: 11rem;
}

.administration-logo-text {
    margin: 0;
    color: var(--sidebar-text-items);
    align-self: end;
}

.sidebar-icon {
    width: 16px;
    height: 16px;
}

.nav-list-items .nav-item {
    position: relative;
}

.nav-list-items .nav-link.active {
    background-color: var(--sidebar-items);
    border-right: 3px solid var(--sidebar-items-border);
}

.nav-list-items .nav-link {
    color: var(--sidebar-text-items);
}

.nav-list-items .nav-link:hover, 
.nav-list-items .nav-link:focus {
    background-color: var(--sidebar-items);
    color: white;
}

.nav-list-items .nav-link.active::after,
.nav-list-items .nav-link:hover::after, 
.nav-list-items .nav-link:focus::after {
    content: '\F285';
    position: absolute;
    translate: -50% -50%;
    top: 50%;
    right: .3rem;
    font-family: "bootstrap-icons";
    font-weight: bold;
    font-size: .9rem;
    color: var(--sidebar-items-border);
    color: white;
}

.show-frontend-website > .nav-link {
    color: var(--sidebar-text-items);
}

.show-frontend-website > .nav-link:hover,
.show-frontend-website > .nav-link:focus {
    color: var(--background-color);
    background-color: var(--sidebar-text-items);
    border: none;
}

/* Navbar */
.middle-container {
    width: 100%;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "\F282";
    font-family: "bootstrap-icons";
    border: 0;
}

/* BODY */
/* GENERAL RULES SECTIONS */
.content_container {
    background-color: var(--card-background-color);
    margin: 24px 24px 24px 304px;
}

.section-icon {
    padding: 0 7px 1px;
    border: 2px solid var(--sidebar-items);
    background-color: var(--card-header-background);
    border-radius: .5rem;
    font-size: 1.5rem;
}

.description-category{
    font-size: .9rem;
}

/* TV SERIES */
.table-container {
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid var(--border-color);
}

.table-container .table {
    background-color: transparent;
}

.table-container .table > thead {
    background-color: var(--card-header-background);
    
}

.table-container .table > :not(caption) > * > * {
    padding: 0.5rem 0.9rem;
    background-color: transparent;
    border-bottom: 2px solid var(--border-color);
}

.table-container .table > tbody > tr:last-child > * {
    border-bottom: none;
}

.poster_image > img {
    width: 3rem;
}


